<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class='image is-64x64'>
        <img src=" <%= tweeet.user.image %>" alt="avatar">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <strong><%= tweeet.user.name %></strong><br>
        <small><%= tweeet.user.email %></small><br>
        <p><%= tweeet.tweeet %></p>
      </div>
      <% if user_signed_in? && current_user == tweeet.user %>
        <nav class='level'>
          <div class="level-left is-mobile">
            <%= link_to tweeet, class: 'level-item' do %>
              <span class="icon"><i class='fa fa-link' aria-hidden='true'></i></span>
            <% end %>
            <%= link_to edit_tweeet_path(tweeet), class: 'level-item' do %>
              <span class='icon'><i class='fa fa-pencil' aria-hidden='true'></i></span>
            <% end %>
            <%= link_to tweeet, method: :delete, class: 'del', remote: true do %>
              <span class='icon'><i class='fa fa-trash-o' aria-hidden='true'></i></span>
            <% end %>
          </div>
        </nav>
      <% end %>
    </div>
  </article>
</div>
